# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Virtual environments
.env
.venv
env/
venv/

# OS files
.DS_Store
Thumbs.db
